<?xml version="1.0"?>

<model>
  <name>Curiosity</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Maximilian Ehrhardt</name>
    <email>maximilian.ehrhardt@esa.int</email>
  </author>


  <description>
    The Curiosity landing site.
  </description>
</model>
